extends ../../layout/index

append params
	- var title = race.title;

append styles
	link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
	link(rel="stylesheet", href="/bower_components/fullpage.js/dist/jquery.fullpage.css")

	link(rel="stylesheet", href="/stylesheets/views/races/gagarin-2016/index.css")

append scripts
	mixin import('views/races/gagarin-2016/index.js')

block body
	- var now = Date.now();

	#fullpage
		.section.active
			.container
				.col-sm-6
					img(src="/images/views/races/gagarin-2016/spaceship.png")

				.col-sm-6
					h1.h2 #{race.title}
					.form-group Начало #{moment(race.date).format('D MMMM в HH:mm')}
					.form-group Место: #{race.address}
					if race.registration
						.form-group
							if now >= race.registration.beginDate
								| Зарегистрировалось: #{race.registration.participantsCount}
							else
								| Регистрация начнётся #{moment(race.registration.beginDate).format('D MMMM в HH:mm')}

					.form-group.text-center
						a#letsgo-button.btn.btn-lg.btn-warning(href="javascript:void(0);") Поехали!

		if race.registration || (race.schedule && race.schedule.length)
			.section
				.container
					if race.registration
						.panel.panel-default
							.panel-heading
								h2.panel-title Регистрация

							.panel-body
								if now < race.registration.beginDate
									div Регистрация начнётся #{moment(race.registration.beginDate).format('D MMMM в HH:mm')}
								else if now >= race.registration.endDate
									div Регистрация окончена.
								else
									form#registration-form(data-race-id="#{race._id}")
										.form-group
											input.form-control.input-lg(name="firstName", type="text", placeholder="Имя", required="")
										.form-group
											input.form-control.input-lg(name="lastName", type="text", placeholder="Фамилия", required="")
										.form-group
											input.form-control.input-lg(name="email", type="email", placeholder="E-mail", required="")
										.form-group.text-center
											button.btn.btn-success.btn-lg(type="submit") Я бегу
										.js-result

					if race.schedule && race.schedule.length
						.panel.panel-default
							.panel-heading
								h2.panel-title Расписание

							.panel-body
								- var scheduleDays = _(race.schedule).groupBy(function(item) {
								- 	return moment(item.beginDate).format('YYYY.MM.DD');
								- });

								each scheduleDay in scheduleDays
									h3.h4 #{moment(scheduleDay[0].beginDate).format('DD.MM.YYYY')}

									each item in scheduleDay
										p
											strong #{moment(item.beginDate).format('HH:mm')}
												if item.endDate
													| 
													| -
													| 
													| #{moment(item.endDate).format('HH:mm')}

										p #{item.description}